@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-image: url('img/Mujer -Space_-4.png'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen*/
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 85%; /*tamaño punta cafe   */
 }
.flex {
  display: flex;
  align-items: center;
}
.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
}
.mujeres-page {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}
.mujeres-page h1 {
  color: #000000;
  font-size: 5rem;
  margin-bottom: 6px;
}
.mujeres-page p {
  font-size: 1.5rem;
  white-space: nowrap;
}
h2{
    margin: 0em 4em 1em 6em;
    font-size: 2.5rem;
}
.slogan{
    margin: -1em 6em 15em -2em;
}
.image1 {
  max-width: 140%; /* La imagen no será más ancha que su contenedor */
  height: auto; /* La altura se ajustará proporcionalmente al ancho */
  margin: -50em 5em -11em -15em;
  /* width: 140%; */
}
.image3{
  max-width: 55%; /* La imagen no será más ancha que su contenedor */
  height: auto; /* La altura se ajustará proporcionalmente al ancho */
  margin: -50em 8em 22em -12.5em;
}
form {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(216, 151, 240, 0.1), 0 8px 16px rgba(243, 65, 234, 0.1);
  max-width: 400px;
  width: 100%;
}
form input {
  height: 55px;
  width: 100%;
  border: 1px solid #CD9B81;
  border-radius: 6px;
  margin-bottom: 25px;
  font-size: 1rem;
  padding: 0 14px;
}
/* .link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
} */
.login {
  /* border: none; */
  outline: none;
  cursor: pointer;
  background: #CD9B81;
  padding: 15px 0;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.2s ease;
}
.login:hover {
  background: #F4EFFD;
  border: 1.5px solid #0B0B0A;
}
 .google-button {
  position: relative;
}
/* .google {
  width: 11%;
  margin-bottom: 0%;
} */
/* .google {
  /* position: absolute;
  left: 10px;  /*Ajusta la posición izquierda según tus preferencias */
  /* top: 50%;
  transform: translateY(-120%); */
  .google {
    position: flex;
    left: 50%; /* Centra el elemento horizontalmente */
    top: 50%; /* Centra el elemento verticalmente */
    transform: translate(70%, -120%); /* Centra el elemento precisamente */
    width: 11%; /* Ajusta el ancho en porcentaje */
    max-width: 200px; /* Establece un límite máximo de ancho */
}
hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}
.or{
  margin: 0.3em 4em 0.3em 7em;
    font-size: 1.5rem;
}
.newac {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  padding: 11px 11px;
  size: 5%;
  background: #fff;
  border-radius: 6px;
  border: 2px solid #CD9B81;
  color: #0F0D0D;
  font-size: 1.2em;
  font-weight: 400;
  transition: 0.2s ease;
}
.newac:hover {
  background: #CD9B81;
}
 /*HOME*/
 /*cambie la posición****/
 .image2 {
  width: 60%;
  position: fixed;
  top: -20em;
  left: -18em;
  margin: 5.8em 7em 1em 77em ;
}
/*boton para retroceder*/
.returnbtn {
  padding: 11px 11px;
  size: 5%;
  background: #fff;
  border-radius: 6px;
  border: 2px solid #0A0A0A;
  color: #0F0D0D;
  font-size: 1.2em;
  transition: 0.2s ease;
  position: fixed;
  margin-top: -5%;
  margin-left: -5%;
}
.returnbtn:hover {
  background: #DFC3B5;
}
/*cambie el tamaño de la letra 30/10*****/
.postitle{
  color: #0F0E0E;
  font-size: 3.5em;
 margin-top: 3%;
}
.post-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  /* margin: 70px auto; */
  background-color: #F7EBBB;
  padding: 50px;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.8em 2em 4em 25em ;
}
/*estilo input post*****/
.post-title {
  width: 140%;
  padding: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.post-button {
  padding: 8px 16px;
  background-color: #D1C7EA;
  border: 1.5px solid #000000;
  color: #131212;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.post-button:hover {
  background-color: #bb3c0ea0;
}
.post-edit {
  padding: 6px 14px;
  background-color: #bb3c0ea0;
  border: 1.5px solid #000000;
  color: #131212;
  border-radius: 4px;
  margin: -5.5em 1em 1em 1em;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  /* margin-left: 8px; Agregado un margen de 10px a la izquierda del botón */
  
} 
.post-edit:hover {
  background-color: #D1C7EA;
}
 .buttonexit {
  padding: 10px 40px;
  position: fixed;
  bottom: 75%;
  left: 4%;
  background-color: #FAC8BE;
  border: 2px solid #000000;
  color: #131212;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.buttonexit:hover {
  background-color: #bb3c0ea0;
}
/* Estilos para el contenedor de la publicación */
.post-container-inner {
  position: relative; /* Necesitamos posicionamiento relativo para posicionar elementos hijos de manera absoluta */
}
/* Estilos para el icono de eliminar */
.delete{
  position: relative;
  width: 7%;
  bottom: -3px; /* Cambiado de "top" a "bottom" para moverlo a la parte inferior */
  right: -20%; /*Ajusta la posición horizontal según tu preferencia */
  /* margin: 7em -5em 1em 1em; */
}
/* Estilos para el icono de like */
.like-icon {
  position: relative;
  width: 7%;
  bottom: -55px; /* Cambiado de "top" a "bottom" para moverlo a la parte inferior */
  right: -14%; /* Ajusta la posición horizontal según tu preferencia */
}
.postContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-title{
  background-color: #f2f5f4;
}


.post-color-1 {
  background-color: #FFD700; /* Amarillo */
}

.post-color-2 {
  background-color: #FF6347; /* Rojo coral */
}

.post-color-3 {
  background-color: #87CEFA; /* Azul claro */
}
/*----------RESPONSIVE----------------*/
 @media (max-width: 900px) {
  .mujeres-page {
    flex-direction: column;
    text-align: center;
  }
  .mujeres-page .text {
    margin-bottom: 30px;
  }
  .image1 {
    display: relative;
    max-width: 120%; /* La imagen no será más ancha que su contenedor */
    height: auto; /* La altura se ajustará proporcionalmente al ancho */
    margin: -50em 5em -12em -15em;
    /* width: 140%; */
    .postContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
}
}
}
@media screen and (max-width: 768px) {
  body {
    background-size: 100%; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
  }
  .image1 {
      max-width: 120%; /* La imagen no será más ancha que su contenedor */
      height: auto; /* La altura se ajustará proporcionalmente al ancho */
      margin: -50em 5em -15em -15em;
      /* width: 140%; */
  }
  .postitle{
    font-size: 2em;
    margin: 0.8em 2em 1em 1em;
}
.image2{
  display: flex;
}
.post-container {
  display: flex;
  align-items: center;
 }
 .postContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
}
}
@media (max-width: 390px) {
  .mujeres-page h1 {
    font-size: 3.5rem;
  }
  .mujeres-page p {
    font-size: 1.3rem;
  }
  form {
    padding: 15px;
  }
  .postitle{
    font-size: 2em;
    margin: 0.8em 2em 1em 1em;
}
.image2{
  display: flex;
}
.post-container {
 display: flex;
align-items: center;
}
.postContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
}
}