@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-image: url('img/Mujer -Space_-4.png'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
   background-size: 85%; /*tamaño punta cafe   */
 }
.flex {
  display: flex;
  align-items: center;
}
.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
}
.mujeres-page {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}
.mujeres-page h1 {
  color: #000000;
  font-size: 5rem;
  margin-bottom: 6px;
}
.mujeres-page p {
  font-size: 1.5rem;
  white-space: nowrap;
}
h2{
    margin: 0em 4em 1em 6em;
    font-size: 2.5rem;
}
p{
    margin: -1em 6em 15em -2em;
}
.image1{
  margin: -50em 5em -11em -15em;
  width: 150%;
}
form {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(216, 151, 240, 0.1), 0 8px 16px rgba(243, 65, 234, 0.1);
  max-width: 400px;
  width: 100%;
}
form input {
  height: 55px;
  width: 100%;
  border: 1px solid #CD9B81;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 0 14px;
}


.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.link .login {
  border: none;
  outline: none;
  cursor: pointer;
  background: #CD9B81;
  padding: 15px 0;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.2s ease;
}
.link .login:hover {
  background: #F4EFFD;
  border: 2px solid #CD9B81;
} */
 .google-button {
  position: relative;
} 

.google {
  width: 10%;
  margin-bottom: 0%;
}

.google {
  /* position: absolute; */
  left: 300px;  /*Ajusta la posición izquierda según tus preferencias */
  top: 50%;
  transform: translateY(-180%);
}
hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}
.button {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.button a {
  padding: 15px 20px;
  background: #fff;
  border-radius: 6px;
  border: 2px solid #CD9B81;
  color: #0F0D0D;
  font-size: 0.5xsrem;
  font-weight: 500;
  transition: 0.2s ease;
}
.button a:hover {
  background: #CD9B81;
}  

/*----------RESPONSIVE----------------*/


 @media (max-width: 900px) {
  .mujeres-page {
    flex-direction: column;
    text-align: center;
  }

  .mujeres-page .text {
    margin-bottom: 30px;
  }
}

@media (max-width: 460px) {
  .mujeres-page h1 {
    font-size: 3.5rem;
  }

  .mujeres-page p {
    font-size: 1.3rem;
  }

  form {
    padding: 15px;
  }
} 